.hotdeals {
    background-image:url('../../img/hotdeal.png');
    background-position:center;
    background-repeat: no-repeat
}
.countdown{
    @apply flex flex-col bg-red-700 rounded-full items-center justify-center w-28 h-28  mx-2
}